/* 背景色がcontact,admin画面と異なるため追加 */
.bg-auth {
    background-color: antiquewhite;
}

.page__title-content {
    text-align: center;
    margin: 30px 0;
}

.page__title {
    font-family: "Times New Roman";
    font-size: 30px;
    font-weight: normal;
    color: rosybrown;
}

.form {
    max-width: 480px;
    margin: 0 auto;
    padding: 40px 60px;
    background-color: #ffffff;
    border-radius: 2px;
    box-shadow: 0 0 6px darkgray;
}

.form__group {
    margin-bottom: 24px;
}

.form__group-title {
    margin-bottom: 5px;
}

.form__label--item {
    font-size: 16px;
    color: rosybrown;
}

.form__input--text input {
    width: 100%;
    padding: 10px 12px;
    border: 1px solid lavenderblush;
    background-color: lightgray;
    font-size: 14px;
}

.form__button {
    margin-top: 32px;
    text-align: center;
}

.form__button-submit {
    min-width: 120px;
    padding: 10px 32px;
    margin: 40px;
    border: none;
    background-color: sienna;
    color: #ffffff;
    font-size: 14px;
    cursor: pointer;
}

.form__error {
    color: red;
    font-size: 14px;
    margin-top: 4px;
}